<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link">Home</a>
      </li>
    </ul>


  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/dashboard" class="brand-link">
      <img src="assets/imgs/logoCantina.jpg"
           alt="logoCantina"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Cantina FUMEC</span>
    </a>

    <div class="sidebar">

      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{foto}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/usuarios" class="d-block">{{nome}}</a>
          <p id="email">{{email}}</p>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas "></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a routerLink="/categorias" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                Categorias
                <span class="badge badge-info right">{{categorias.length}}</span>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a routerLink="/produtos" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tags"></i>
              <p>
                Produtos
                <span class="badge badge-info right">{{produtos.length}}</span>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-users" style="color: #5d96f0;"></i>
              <p>
                Usuários
                <span class="badge badge-info right">{{usuarios.length}}</span>
              </p>

            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link" (click)="sair()">
              <i class="nav-icon fas fa-power-off" style="color: #d12828;"></i>
              <p>Sair</p>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">

    <section class="content">
      <router-outlet></router-outlet>
    </section>

  </div>


  <footer class="main-footer"> </footer>

</div>
