<div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{categorias.length}}</h3>
                <p>Total Categorias</p>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-sitemap"></i>
              </div>
              <a href="/categorias" class="small-box-footer">Ver Categorias <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{produtos.length}}</h3>
                <p>Total Produtos</p>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-tags"></i>
              </div>
              <a href="/produtos" class="small-box-footer">Ver Produtos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{usuarios.length}}</h3>
                <p>Usuários Registrados</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/usuarios" class="small-box-footer">Ver Usuários <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{pedidos.length}}</h3>
                <p>Pedidos Realizados</p>
              </div>
              <div class="icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <a href="/pedidos" class="small-box-footer">Ver Pedidos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
